*.o
*.out
*.obj
*.exe
*.app
*.dll
*.dylib
*.so
build/
.vscode/
CMakeFiles/
CMakeScripts/
CMakeCache.txt
CMakeLists.txt.user
CMakeOutput.log
CMakeTmp/
*.xcodeproj/
*.xcworkspace/
*.sublime-project
*.sublime-workspace
*.cbp
*.layout
*.pro.user
*.qbs.user
*~
*.out
*.swp
*.swo
*.swn

